{% extends "layout.html" %}
{% from "bootstrap5/form.html" import render_form %}
{% from "bootstrap5/nav.html" import render_breadcrumb_item %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {{ render_breadcrumb_item( "home", "Home" ) }}
    {{ render_breadcrumb_item( "backport", "Backport " ~ gerrit_id ) }}
  </ol>
</nav>

<h2>Change <a href="https://gerrit.wikimedia.org/r/{{ gerrit_id }}">{{ gerrit_id }}</a>: {{ change.subject }}</h2>

<div class="card">
  <div class="card-body">
    <pre class="card-text">{{ change.revisions[change.current_revision].commit_with_footers }}</pre>
    <a class="card-link" href="https://gerrit.wikimedia.org/r/q/project:{{ change.project }}">{{ change.project }}</a>
    <a class="card-link" href="https://gerrit.wikimedia.org/r/q/project:{{ change.project }}+branch:{{ change.branch }}+status:open">{{ change.branch }}</a>
  </div>
</div>
<div class="container mt-3">
  {{ render_form( form, form_type="horizontal", id="backport" ) }}
  <p>You must be online in <a href="ircs://irc.libera.chat/wikimedia-operations">#wikimedia-operations</a><sup><a class="link-secondary" href="https://web.libera.chat/?#wikimedia-operations">connect</a></sup> on IRC during your deployment and install <a href="https://wikitech.wikimedia.org/wiki/WikimediaDebug">WikimediaDebug</a> ahead of time.</p>
</div>
{# <pre>{{ change|ppjson }}</pre> #}
{% endblock %}

{% block js %}
  {{ super() }}
  <script src="{{ url_for('static', filename='backport.js') }}"></script>
{% endblock %}
{# vim:set sw=2 ts=2 sts=2 et #}
