{% extends "layout.html" %}
{% from "bootstrap5/form.html" import render_form %}

{% block content %}
<div class="card mb-3">
  <div class="card-header text-bg-primary">Schedule backport</div>
  <div class="card-body">
    <p>Schedule a Gerrit change for deployment during a <a href="https://wikitech.wikimedia.org/wiki/Backport_windows">backport window</a>.</p>
    {{ render_form( form, form_type="inline", id="backport" ) }}
  </div>
</div>
<div class="card border-secondary" id="upcoming">
  <div class="card-header text-bg-secondary">Upcoming backport windows</div>
  <div class="list-group list-group-flush">
    {% for window in windows %}
    {% set ts = window[2].timestamp() %}
    <a class="list-group-item list-group-item-action" href="{{ url_for('window', epoch=ts ) }}" data-epoch="{{ (ts * 1000)|int }}">{{ window[1] }}</a>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block js %}
  {{ super() }}
  <script src="{{ url_for('static', filename='home.js') }}"></script>
{% endblock %}
{# vim:set sw=2 ts=2 sts=2 et #}
