{% extends "layout.html" %}
{% from "bootstrap5/form.html" import render_form %}
{% from "bootstrap5/nav.html" import render_breadcrumb_item %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {{ render_breadcrumb_item( "home", "Home" ) }}
    {{ render_breadcrumb_item( "window", "Backport window" ) }}
  </ol>
</nav>

<div class="card border-info mb-3">
  <div class="card-header text-bg-info text-center">
    <h2 class="card-title" data-epoch="{{ window.when.dt.timestamp() * 1000|int }}">{{ window.when.dt.strftime("%A, %B %d ") }} {{ window.name }}</h2>
  </div>
  <div class="card-body">
    <dl class="row gy-0">
      <dt class="col-sm-3">Deployers</dt>
      <dd class="col-sm-9">
        {% for deployer in window.deployers %}
        {{ deployer.name }} ({{ deployer.nick }}){% if not loop.last %},{% endif %}
        {% endfor %}
      </dd>
    </dl>
  </div>
  <ul class="list-group list-group-flush">
    {% for change in window.changes %}
    <li class="list-group-item">
      <p>{{ change[0].name }} ({{ change[0].nick }})</p>
      {{ change[1]|safe }}
    </li>
    {% endfor %}
  </ul>
</div>
{% if window.when.dt > now %}
<div class="card border-primary">
  <div class="card-header text-bg-primary">Schedule backport</div>
  <div class="card-body">
    <p>Schedule a Gerrit change for deployment during this window.</p>
    {{ render_form( form, form_type="inline", id="backport" ) }}
  </div>
</div>
{% endif %}
<pre>{# { window|ppjson } #}</pre>
{% endblock %}

{% block js %}
  {{ super() }}
  <script src="{{ url_for('static', filename='window.js') }}"></script>
{% endblock %}
{# vim:set sw=2 ts=2 sts=2 et #}
